@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 0;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

span {
  font-size: 1.25rem;
}

button {
  font-size: 1rem;
}

th,
td {
  font-size: 1.25rem;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.flex-2 {
  display: flex;
  flex: 2;
}

.flex-3 {
  display: flex;
  flex: 3;
}

.flex-4 {
  display: flex;
  flex: 4;
}

.flex-5 {
  display: flex;
  flex: 5;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}